/.DS_Store
/venv
backend/db.sqlite3
backend/media/
backend/static/
*.pdf
*.docx
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.svg
*.mp3
*.wav
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.wmv
*.ogg
*.webm
*.zip
*.rar
backend/media/.DS_Store
backend/.DS_Store

*.pyc